<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>客服系统</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/chat.js"></script>
</head>
<body>
    <h1>客服系统</h1>
    <div style="width: 100%">
        <span id="status"></span>
        <input type="text" id="input"/>
    </div>
    <div id="content"></div>
    <script type="text/javascript"></script>
</body>
</html>
